extends layout 

block content
  h2 All My Contacts
  table
    thead
      tr
        th 
          a(href="/contacts/sorted/last_name") Name
        th 
          a(href="/contacts/sorted/phone_number") Phone Number
        th Groups
        th.editContact Edit
    tbody
      each contact in contacts
        tr
          td #{contact.last_name}, #{contact.first_name}
          td (#{contact.phone_number.slice(0, 3)})-#{contact.phone_number.slice(3, 6)}-#{contact.phone_number.slice(6)}
          td #{contact.group_name} 
          td.editContact
            a.add(href=`/contacts/edit_contact/${contact.id}`)

            
  div.centered
    a.yes(href=`/contacts/new`) New Contact